<div class="container">
  <h1>Format for Readability!</h1>
  <div>
    Struggling to copy that OCR from a PDF bill to your mobile bank? Want to make sure you're
    transfering the appropriate amount of 0's? Enter your number below!
  </div>

  <form #myForm="ngForm" name="myform" novalidate>
    <div class="form-group form-group-container">
      <mat-form-field class="example-container">
        <mat-label>Number to Format</mat-label>
        <input type="text" name="inputNumber" matInput [(ngModel)]="inputNumber" placeholder="Ex. 11233"
          (keyup)="formatNumber()" autofocus>
        <mat-hint align="end">Note: Special characters will be removed. Alphanumericals only.</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group form-group-container">
      <div>

        <mat-radio-group class="radio-group" aria-label="Select an option" name="separator" [(ngModel)]="separator"
          (ngModelChange)="formatNumber()">
          <label><strong>Group in</strong></label>
          <mat-radio-button id="twos" [value]="2" class="radio">
            Two's
          </mat-radio-button>
          <mat-radio-button id="threes" [value]="3" class="radio">
            Three's
          </mat-radio-button>
          <mat-radio-button id="fours" [value]="4" class="radio">
            Four's
          </mat-radio-button>
          <mat-radio-button id="thousands" [value]="5" class="radio">
            Thousands (1 000)
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </form>

  <div>
    <div class="number-container" *ngIf="inputNumber != undefined">
      <div class="flex-number-container">
        <span class="separated-numbers" *ngFor="let nums of formattedNumber">{{nums}}</span>
      </div>
      <p>Hover over or click a segment to highlight it.</p>
    </div>
  </div>
</div>