.container {
    max-width: 800px;
    width: 90%;
    margin: 0rem auto;
    padding: 0rem 1rem;
    text-align: center;
}

.separated-numbers {
    margin: 0 .5rem;
    font-size: 3rem;
    line-height: 3rem;
}

@media screen and (min-width: 480px) {
    .separated-numbers {
        margin: 0 .5rem;
        font-size: 4rem;
        line-height: 4rem;
    }
}

.separated-numbers:hover {
    background-color: yellow;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.form-group-container {
    margin-top: 1rem;
}

/* TODO: Flex around the span so they flow over several lines if necessary */
.number-container {
    margin-top: .5rem;
}

.flex-number-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.separated-numbers {
    flex: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    padding: 10px 15px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.radio {
    flex: 1fr 1fr;
    list-style-type: none;
    padding: 10px 15px;
    margin: .1rem .7rem;
}

.info-box {
    background: #fffbda;
    padding: .75rem 1.2rem;
}

::placeholder {
    text-align: center;
}

input {
    text-align: center;
}

.mat-form-field {
    text-align: center;
}

.clicked {
    outline: 3px dotted greenyellow;
}

footer {
    margin: 1rem auto;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 45%;
}

.link {
    color: grey;
}

.link:hover {
    color: rgb(55, 55, 55);
}